<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyc.cloudapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.NFC" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".activity.mobile.TimeCardQueryActivity"></activity>
        <activity android:name=".activity.mobile.TimeCardSaleActivity" />
        <activity
            android:name=".activity.mobile.TimeCardPayActivity"
            android:theme="@style/notFullActivity" />
        <activity android:name=".activity.mobile.SelectTimeCardActivity" />
        <activity android:name=".activity.mobile.MobileTimeCardSaleActivity" />
        <activity android:name=".activity.mobile.business.EditVipInfoActivity" />
        <activity android:name=".activity.mobile.business.MobileEditGoodInfoActivity" />
        <activity android:name=".activity.mobile.business.MobileVipCategoryInfoActivity" />
        <activity android:name=".activity.mobile.business.EditConsumerActivity" />
        <activity
            android:name=".activity.mobile.business.MobileConsumerInfoActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".activity.mobile.business.EditSupplierActivity" />
        <activity android:name=".activity.mobile.business.AbstractEditArchiveActivity" />
        <activity
            android:name=".activity.mobile.business.MobileSupplierInfoActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".activity.mobile.business.MobileEditGoodsCategoryActivity" />
        <activity android:name=".activity.mobile.business.MobileInventoryOrderDetailActivity" />
        <activity android:name=".activity.mobile.business.MobileInventoryOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileInventoryAddTaskActivity" />
        <activity android:name=".activity.mobile.business.MobileInventoryTaskActivity" />
        <activity
            android:name=".activity.mobile.business.MobileTransferInOrderDetailActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".activity.mobile.business.MobileTransferInOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileTransferOutOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileTransferOutOrderActivity$MobileAddTransferOutOrderActivity" />
        <activity
            android:name=".activity.mobile.business.MobilePracticalInventoryAddOrderActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".activity.mobile.business.MobilePracticalInventoryOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileOtherWarehouseOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileOtherWarehouseOrderActivity$MobileAddOtherWarehouseOrderActivity" />
        <activity
            android:name=".activity.mobile.business.MobileVipManageActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity
            android:name=".activity.mobile.business.MobileSelectGoodsActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".activity.mobile.report.MobileCashierTransfer" />
        <activity android:name=".activity.mobile.report.MobileCashierTransfer$TransferDetailsActivity" />
        <activity android:name=".activity.mobile.report.MobileStockQueryActivity" />
        <activity android:name=".activity.mobile.report.MobileCategoryStatisticsActivity" />
        <activity android:name=".activity.mobile.report.MobileDealQueryActivity$OrderDetailsActivity" />
        <activity android:name=".activity.mobile.report.MobileDealQueryActivity" />
        <activity android:name=".activity.mobile.report.MobileSaleRankActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleRefundOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleRefundOrderActivity$MobileAddWholesaleRefundOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleOrderActivity$MobileAddWholesaleOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleSellOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWholesaleSellOrderActivity$MobileAddWholesaleSellOrderActivity" />
        <activity android:name=".activity.mobile.business.MobilePurchaseRefundOrderActivity" />
        <activity android:name=".activity.mobile.business.MobilePurchaseRefundOrderActivity$MobileAddPurchaseRefundOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWarehouseOrderActivity" />
        <activity android:name=".activity.mobile.business.MobileWarehouseOrderActivity$MobileAddWarehouseOrderActivity" />
        <activity android:name=".activity.mobile.business.MobilePurchaseOrderActivity" />
        <activity android:name=".activity.mobile.business.MobilePurchaseOrderActivity$MobileAddPurchaseOrderActivity" />
        <activity android:name=".activity.mobile.business.AbstractMobileBusinessOrderActivity" />
        <activity android:name=".activity.mobile.MobileSetupActivity" />
        <activity android:name=".activity.SaleActivity" />
        <activity android:name=".activity.mobile.MobileCashierActivity" />
        <activity android:name=".activity.mobile.MobileNavigationActivity" />
        <activity
            android:name=".activity.NormalMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
            -->
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/splashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.GlobalBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wyc.cloudapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.AppUpdateService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>